<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="apple-touch-icon" type="image/png" href="/assets/icons/apple-icon.png">
  <link rel="apple-touch-icon-180x180" sizes="180x180" type="image/png" href="/assets/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/icon-hires.png">
  {%- seo -%}
  
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {%- feed_meta -%}

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43038940-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-43038940-1');
  </script>

  {% if site.tags != "" %}
    {% include collecttags.html %}
  {% endif %}
</head>
