@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
	font-size: 100%;
  	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	  color: #423737;
	  background-color: #FAFAFA;
}
::selection {
	background: #1565c0;
	color: white;
}
a {
	color: #423737;
	border-bottom: 2px solid #1565c0;
	text-decoration: none;
}
a:hover {
	border-bottom: 2px solid #1565c0;
	color: #1565c0;
}

hr {
	margin-block-start: 2em;
	margin-block-end: 2em;
}
/*nav*/
.navbar-nav {
	padding: 1.5%;
	text-align: right;
	margin: 0 auto;
	max-width: 700px;
}
.menu-item {
	display: inline;
	margin-right: 4%;
}
/*post*/
.post, .type-page {
	margin: 0% auto;
	max-width: 972px;
}
.page {
	margin: 0% auto;
	/* max-width: 680px; */
	max-width: 720px;
	padding: 0 24px;
}
/*home-container*/
.hero {
	padding: 0 15px;
}
.line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 75px auto 75px;
  width: 100px;
}
.hero-title {
  font-size: 2.2em;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 1em;
}
.post-stream {
	text-align: center;
}

.card {
	display: inline-block;
	vertical-align: top;
	width: 293px;
	height: 293px;
	margin: 14px;
	border-bottom: none;
	background: #1565c0;
	background-position: center;
	background-size: cover;
	color: #fff;
	text-align: left;
}

.card:hover {
	box-shadow: 0 15px 30px rgba(0,0,0,.40);
	transform: translateY(-3px);
	transition: all .3s cubic-bezier(.77,0,.175,1);
	color: #fff;
	border-bottom: none;
}

.card-title {
	margin: 20px;
	font-size: 1.5em;
	font-weight: 600;
}
.card-caption {
	margin: 20px;
}

@media only screen and (max-width: 40em){
	.card:first-child {
		width: 293px;
		height: 293px;
	}
}
/*custom*/
span {
	color: #999;
}
.chart {
	width: 100%;
	margin-bottom: 1%;
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 3rem 0 1rem;
    text-align: center;
    color: #aaa;
}
.pagination li {
    display: inline-block;
    border: 1px solid #eee;
}
.pagination a, .pagination span {
    display: inline-block;
    padding: 4px 15px;
}

/*content*/
.wrapper {
	line-height: 2em;
	margin: 4% 0%;
}
.entry-content {
	font-size: 1.25em;
	line-height: 1.5;
}
.wrapper img {
	height: auto;
	max-width: 100%;
	box-shadow: 0 0 50px 0 rgba(0,0,0,.10);
}
.post-content {
}

@media (prefers-color-scheme:dark) {
	body {
		background: #21212C;
		color: #fff;
	}
	a {
		color: #fff;
	}
	.line {
		border-top: 1px solid #fff;
	  }
	.hero a {
		color: #fff !important;
	}
	.menu-item a {
		color: #fff;
	}
}