---
layout: default
---

<div class="home">

  <div class="hero">

    <div class="line">&nbsp;</div>

    {{ content }}

    <div class="line">&nbsp;</div>
  
  </div>

    {% if site.paginate %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}

    {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}

    {%- for post in posts -%}
    <a href="{{ post.url | relative_url }}" class="card" style="background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url({{ site.baseurl }}{{ post.image }});">
      <div class="card-title">
        {{ post.title | escape }}
      </div>
      <div class="card-caption">
          <time class="dt-published" datetime="{{ post.date | date: date_format }}">
            {{ post.date | date: date_format }}
          </time>
      </div>
      <br>
    </a>
    {%- endfor -%}


  {% if site.paginate %}
      <ul class="pagination">
      {%- if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
      {%- else %}
        <li><span>•</span></li>
      {%- endif %}
        <li><span>{{ paginator.page }}</span></li>
      {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}" class="">{{ paginator.next_page }}</a></li>
      {%- else %}
        <li><span>•</span></li>
      {%- endif %}
      </ul>
  {%- endif %}

</div>
